.reservations-list li {
  padding: 2em 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px;
}

.reservation-accepting {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.button {
  margin: 5px;
}
