.main {
  overflow: hidden;
  padding: 7em 0em 5em 0em;
  background: #27ae61 url(./banner.png) no-repeat center;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.main .title h2 {
  color: #fff;
}

.main .title .byline {
  color: rgba(255, 255, 255, 0.6);
}

.main .button {
  margin-top: 3em;
  background: #2b3f48 !important;
}

.main input {
  width: 70%;
}
